<div class="common-list">
  <h2>User Master</h2>
  
  <div class="header-controls">
    <div class="actions">
      <a routerLink="/home/user/create" class="btn btn-primary">New</a>
    </div>
    
    <div class="table-info">
      Showing 1 to {{users.length}} of {{users.length}} entries
    </div>
  </div>

  <div class="table-controls">
    <div class="entries-dropdown">
      Show
      <select>
        <option>10 entries</option>
        <option>25 entries</option>
        <option>50 entries</option>
      </select>
    </div>
    
    <div class="search-box">
      <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="applyFilter()">
    </div>
  </div>

   <div class="pagination-controls">
    <button class="btn btn-pagination" [disabled]="currentPage === 1" (click)="previousPage()">
      Previous
    </button>
    <button class="btn btn-pagination" [disabled]="currentPage * itemsPerPage >= users.length" (click)="nextPage()">
      Next
    </button>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Action</th>
          <th>User Name</th>
          <th>User Code</th>
          <th>User ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading">
          <td colspan="7" class="text-center">Loading companies...</td>
        </tr>
        <tr *ngFor="let users of filteredUsers">
          <td class="actions">
            <button (click)="editUser(users.id)" class="btn btn-sm btn-edit">
              Edit
            </button>
            <button (click)="deleteUser(users.id)" class="btn btn-sm btn-delete">
              Delete
            </button>
          </td>
          <td>{{ users.username }}</td>
          <td>{{ users.userCode }}</td>
          <td>{{ users.userID }}</td>
          <td>
            <button  class="btn btn-sm ">
              Activate
            </button>
          </td>
          
        </tr>
        <tr *ngIf="!isLoading && filteredUsers.length === 0">
          <td colspan="7" class="text-center">No companies found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>