<div class="common-form-container">
  <h2 class="form-title">Users Header</h2>
  
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
    <div class="form-grid">
      <div class="form-field required">
        <label for="userName">User Name </label>
        <input type="text" id="userName" formControlName="userName" placeholder="Enter user name">
      </div>

      <div class="form-field required">
        <label for="salutation">Salutation (Mr/Ms) </label>
        <select id="salutation" formControlName="salutation">
          <option value="">Select</option>
          <option *ngFor="let title of salutations" [value]="title">{{title}}</option>
        </select>
      </div>

      <div class="form-field required">
        <label for="password">Password </label>
        <input type="password" id="password" formControlName="password" placeholder="Enter password">
      </div>

      <div class="form-field required">
        <label for="userCode">User Code </label>
        <input type="text" id="userCode" formControlName="userCode" placeholder="Enter user code">
      </div>

      <div class="form-field required">
        <label for="userId">User ID </label>
        <input type="text" id="userId" formControlName="userId" placeholder="Enter user ID">
      </div>

      <div class="form-field required">
        <label for="groupName">Group Name</label>
        <select id="groupName" formControlName="groupName">
          <option value="">Select Group</option>
          <option *ngFor="let group of groupOptions" [value]="group.value">
            {{group.display}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
      <button type="button" (click)="onCancel()" class="btn btn-secondary">Exit</button>
    </div>
  </form>
</div>