<div class="login-form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
    <input formControlName="username" placeholder="Username" />
    <div
      *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
      class="error-message"
    >
      username is required and must be valid.
    </div>

    <input type="password" formControlName="password" placeholder="Password" />
    <div
      *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
      class="error-message"
    >
      Password is required.
    </div>

    <!-- <button type="submit">Login</button> -->

    <button type="submit" [disabled]="isLoading || loginForm.invalid">
            <span *ngIf="!isLoading">Login</span>
            <span *ngIf="isLoading">Logging in...</span>
          </button>
          <br><br>
          <div *ngIf="loginFailed" class="error-message">
            Login failed. Please check your credentials.
          </div>
    
  </form>
  
</div>